{
    "env": {
        "test": {
            "presets": [
              ["@babel/preset-env", {
                "loose": true, 
                "targets": ["last 2 versions", "ie >= 8"]
              }],
              "@babel/preset-react"
            ],
            "plugins": [
              "transform-react-pure-class-to-function",
              ["reshow-transform-runtime", {
                "regenerator": false
                }
              ],
              "@babel/plugin-syntax-dynamic-import",
              "@babel/plugin-transform-object-assign",
              "@babel/plugin-proposal-class-properties",
              "@babel/plugin-proposal-object-rest-spread",
              "@babel/plugin-transform-react-constant-elements"
            ]
        },
        "build": {
            "presets": [
              ["@babel/preset-env", {
                "loose": true, 
                "modules": false,
                "targets": ["last 2 versions", "ie >= 8"]
              }],
              "@babel/preset-react"
            ],
            "plugins": [
              "transform-react-pure-class-to-function",
              ["transform-react-remove-prop-types", {"mode": "wrap"}],
              ["reshow-transform-runtime", {
                "regenerator": false,
                "useESModules": true
                }
              ],
              "@babel/plugin-syntax-dynamic-import",
              "@babel/plugin-transform-object-assign",
              "@babel/plugin-proposal-class-properties",
              "@babel/plugin-proposal-object-rest-spread",
              "@babel/plugin-transform-react-constant-elements"
            ]
        },
        "production": {
            "presets": [
              ["@babel/preset-env", {
                "loose": true, 
                "modules": false,
                "targets": ["last 2 versions", "ie >= 8"]
              }],
              "@babel/preset-react"
            ],
            "plugins": [
              "transform-react-pure-class-to-function",
              ["transform-react-remove-prop-types", {"mode": "wrap"}],
              ["reshow-transform-runtime", {
                "regenerator": false,
                "useESModules": true
                }
              ],
              "@babel/plugin-syntax-dynamic-import",
              "@babel/plugin-transform-object-assign",
              "@babel/plugin-proposal-class-properties",
              "@babel/plugin-proposal-object-rest-spread",
              "@babel/plugin-transform-react-constant-elements"
            ]
        }
    }
}
